body,html{
    font-size:16px;
}
.b-cover,.b-cover-md,.b-cover-sm{
    background-size:cover;background-repeat:no-repeat
}
/*-- tipografias --*/
/* @font-face {font-family: Luna;src: url(/files/fonts/Luna.ttf);} */
/*@font-face {font-family: Reenie;src: url(/files/fonts/Reenie-beanie-regular.ttf);}*/
@font-face {
    font-family: Century;src: url(/files/fonts/CenturyGothicRegular.ttf);
}
@font-face {
    font-family: Myriad;src: url(/files/fonts/Myriad-Pro.ttf);
}
.ff-Luna{
    font-family: Luna;
}
/*.ff-Reenie{font-family: Reenie;}*/
.ff-Century{
    font-family: Century;
}
/*-- colores --*/
.push-menu{
    padding-top:80px
}
/*-- menú --*/
header{
    background-color:rgb(255, 255, 255);
    box-shadow:black 0px 1px 10px
}
header a{
    color:rgba(23, 51, 167, 0.75)!important
}
header a:hover{
    color:rgba(23, 51, 167, 1) !important
}
/*-- index --*/
.slider{ 
    height:60vh;font-family: Myriad;
    font-weight: bold
}
#sliderPrincipal{
    font-size:1.5rem;
    line-height:3rem;
    animation:sliderRight 20s cubic-bezier(0.215, 0.610, 0.355, 1) infinite
}
.imgSlider{
    z-index:1
}
.carousel-caption{
    width:100%;
    height: 100%;
    left: 0;
    right:0;
    bottom:0;
    padding:0 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#botones img{
    width:100%;
    border-radius:10px;
    transition: transform .3s;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
#botones img:hover{
    transform:scale(1.05);
    transition: transform .3s;
}
.tarjeta-producto{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    height:100%;
    width:75%;
}
.tarjeta-producto img{
    width:100%;
}
.b-cover{
    background-position:left!important
}
.bg-footer{
    background-color:#58D3F7
}
/*-- media query --*/
@media (min-width:576px){
    body,html{font-size:12px}
    #sliderPrincipal{font-size:2rem;line-height:4.5rem}
    .slider{ height:70vh}
    .b-cover{background-position:right!important}
}
@media (min-width:768px){
    body,html{font-size:14px}
    /*-- index --*/
    .b-cover{background-position:center!important}
    header{height:80px}
    .push-menu{padding-top:80px}
    #botones .col-md-3{
        max-width:20%;
    }
    #botones img:hover{
        transform:scale(1.12);
    }
}
@media (min-width:992px){
    body,html{font-size:16px}
    .carousel-caption{
        width: 70%;
        padding: 1.5rem;
        align-items: flex-start;
    }
    .carousel-caption h2{
        font-size: 2.8rem;
    }
}
@media (min-width:1200px){
    body,html{font-size:18px}
}