RewriteEngine on

ErrorDocument 404 /404.php

#remove the need for .php extention

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

Options -Indexes

#habilitar compresión gzip

#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x- javascript application/javascript
</ifmodule>
#End Gzip

#cache control
Header set Cache-Control "max-age=2628000, public"
